name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Connect to AWS
        uses: appleboy/ssh-action@v1
        with:
          host: 18.207.120.30
          username: ubuntu
          key: ${{ secrets.KEY }}
          port: 22 #simple port
          script: |
            cd ci-cd
            npm install
            npm run build
            npm start
            ls -a
